@model BO.Event

@{
    ViewBag.Title = "Delete";
}

<div class="container">
    <h1>Liste des événements</h1>
    <div>
        @Html.DisplayNameFor(model => model.name) => @Html.DisplayFor(model => model.name)
        @Html.DisplayNameFor(model => model.date) => @Html.DisplayFor(model => model.date)
        @using (Html.BeginForm())
        {
            @Html.AntiForgeryToken()

            <div class="form-actions no-color">
                <input type="submit" value="Supprimer" class="btn btn-default waves-effect waves-light btn blue lighten-1" /> |
                @Html.ActionLink("Retour à la liste", "Index")
            </div>
        }
    </div>
</div>
