@model BO.Event

<li>
    <div class="slider">
        <ul class="slides">
            @foreach (var url in Model.Images)
            {
            <li>
                <img src="@Url.Content("~/")@(url.Path)">
            </li>
            }
        </ul>
    </div>
</li>
<li>@Html.DisplayFor(model => model.name)</li>
<li><div class="divider"></div></li>
<li>
    @Html.DisplayFor(model => model.date)
    @Html.DisplayFor(model => model.dateFin)
</li>
<li>@Html.DisplayFor(model => model.descriptif)</li>
<li>@Html.DisplayFor(model => model.address)</li>
<li><a class="subheader">Parkings</a></li>
