<!DOCTYPE html>
<html>
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - Home</title>
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")

</head>
<body>
    <header>
        <nav>
            <div class="container">
                <div class="nav-wrapper">
                    <a href="index.html" class="brand-logo">Event4U</a>
                    <ul id="nav-mobile" class="right hide-on-med-and-down"></ul>
                    <ul class="right side-nav" id="nav-mobile">
                        <li class="hide-on-small-only"><a href="collapsible.html"><i class="material-icons">arrow_back</i></a></li>
                        <li>@Html.ActionLink("Accueil", "Index", "Home")</li>
                        <li>@Html.Partial("_LoginPartial")</li>
                    </ul>
                    <a class="button-collapse" href="#" data-activates='nav-mobile'><i class="material-icons">menu</i></a>
                </div>
            </div>
        </nav>
        <div class="eventList col s12 m2">
            <div class="row">

            </div>
        </div>
    </header>
    <main>
        @RenderBody()
    </main>
    <footer class="page-footer">
        <div class="footer-copyright">
            <div class="container">
                © 2014-2018 Event4U, All rights reserved.
            </div>
        </div>
    </footer>
    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/materialize")
    @Scripts.Render("~/bundles/main")
    @RenderSection("scripts", required: false)
    <script src="https://developers.google.com/maps/documentation/javascript/examples/markerclusterer/markerclusterer.js"></script>
    <script async defer src="https://maps.googleapis.com/maps/api/js?key=AIzaSyCr0Xkn4FXRGGlH2l_x5fzCPB3lU7I02fE&libraries=geometry,places&sensor=false&language=fr&callback=initMap"></script>
</body>
</html>
